body{
    font-family: 'Raleway', sans-serif !important;
	background-color: #fafafa !important;
}

nav{
    background-color: #9575cd !important;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.img{
	width: 100%;
    	
}
.info h5,p{
	display: inline;
}
.info p{
	font-size: 19px;
}
#glosario{
	text-align: justify;
}

.footer{
    background-color: #65499c;
    color: white;
}

table,th, td{
	border: 2px solid #757575;
}
table td:first-child{
	width: 150px;
}
table td:nth-child(2){
	width: 150px;
}
table td:nth-child(3){
	width: 300px;
}
table td:last-child{
	width: 300px;
	height: 200px;
}
table th{
	color:#FFF;
	text-align:center;
	padding:10px 20px;
	background-color:#757575;
	height:20px;
	
}

input, text{
	
	padding: 20px;
}

#cc{
	width: 60%;
	
}
#con{
	margin: auto !important;
	display:flex !important;
	justify-content: center;
	

}
#ft{
	margin: auto !important;
	width: 60%;
	
}.proyectos{
	visibility: hidden;
	color: #fafafa;
}

